form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 100%;
  margin: 1rem 0;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

button {
  background-color: rgb(0, 46, 145);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 3em;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  margin-bottom: 55px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* Header */
.header {
  margin-top: 10px;
  width: 100%;
	text-align: center;
}

/* images */
.img-instructions {
  max-width:60vw;
  max-height: 350px;
  width: auto;
  height: auto;
}

.img-versus {
  max-width: 35vw;
  max-height: 200px;
  width: auto;
  height: auto;
}

.img-player {
  max-width: 35vw;
  max-height: 100px;
  width: auto;
  height: auto;
}

/* Container */
.container {
  width: min(80%, 45rem);
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center; 
}

.game {
  border-width: 20px;
  display: flex;
  flex-direction: line;
  justify-content: space-between;
}

.result {
  font-size: 75px;
}